body{
    margin:0;
    padding: 0;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}
/*nav bar  */

.navbar-content{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    background: linear-gradient(90deg, rgba(20,86,174,1) 13%, rgba(0,53,103,1) 63%);
}
.nav-links ul{
    display: flex;
    gap: 20%;
}

ul{
    list-style: none;  
}

.nav-image img{
    height:60px ;
    width: 60px;
    display: flex;
    align-items: center;
}

.nav-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(20,86,174,1) 13%;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #ffffff;
    text-decoration: none;
}
.nav-connect{
padding:5px 36px;
font-size: 16px;
color: #ffffff;
border-radius: 10px;
background: linear-gradient(90deg,rgb(0, 52, 99) 13%, rgb(8, 66, 146) 67%); 
border: 2px solid skyblue;
cursor: pointer;
}

.nav-connect:hover{
    background: rgb(8, 66, 146);
}
.nav-connect:active{
    background: linear-gradient(90deg,rgb(7, 75, 134) 13%, rgb(7, 81, 185) 67%); 
}




/* navbar end */



/* blog section */
.container{
    text-align: center;
    background-color:rgba(17,68,134,1);
}

.blog-head{
    margin: 0;
    color: white;
    padding-top: 50px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.blog-paragraph{
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 80px;
    color: white;
    line-height: 1.5;
}

/* Image sections */
*{
    box-sizing: border-box;
}

.column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    /* display: flex; */
    gap: 1%;
    row-gap: 5%;
    margin: 0;
}

.picture img{
    height: auto;
    width: 100%;
    padding: 5px;
    margin-bottom: 0;
}
.container_text1 img{
    width: 100%;
    padding:0;
}
.picture{
margin: 5% 10%;
}

.container_text1{
    background-color: silver;
}

.container_text{
    position: relative;
}

.column1{
    justify-content: center;
    display: flex;
    margin-top: 200px;
}
.title1{
    position: relative;
    top: -4%;
    left: 5%;
    background-color: rgb(0, 52, 99);
    color: #ffffff;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}


.title1 h4{
    font-size: 15px;
    padding: 0;
    content: normal;
    width: 0;
    
}

.blog-content h3{
    text-align: center;
    margin: 0;
}



.blog-content{
    background-color: silver;
}

.paragraph{
    text-align: center;
    margin-bottom: 30px;
}

.about-more{
    padding: 0px 17px;
    color: #000000;
}

/* previous & next  */
.previous{
    color: #000000;
    background-color: #ffffff;
    
}

.next{
    color: #000000;
}














