body{
    margin:0;
    padding: 0;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}
/*nav bar  */

.navbar-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}
.nav-links ul {
    display: flex;
    gap: 10%;
}
ul{
 list-style: none;  
}

.nav-image img{
    height:60px ;
    width: 60px;
    display: flex;
    align-items: center;
}

.nav-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;

}
a{
    color: #000000;
    text-decoration: none;
}
.nav-connect{
padding:10px 30px;
color: #ffffff;
background-color: blueviolet;
border-radius: 10px;
border: 5px solid blue;

}
/* navbar end */





/* blog section */
.container{
    text-align: center;
    background-color:rgba(17,68,134,1);
}

.blog-head{
    margin: 0;
    color: white;
    padding-top: 50px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.blog-paragraph{
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 80px;
    color: white;
    line-height: 1.5;
}

/* Image sections */
*{
    box-sizing: border-box;
}

.column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    /* display: flex; */
    gap: 5%;
}

.picture img{
    height: auto;
    width: 100%;
   
    padding: 5px;
    margin-bottom: 0;
}
.container_text1 img{
    width: 100%;
}
.picture{
margin: 5% 10%;

}

.container_text{
    position: relative;
}

.column1{
    justify-content: center;
    display: flex;
    margin-top: 200px;
}
.title1{
    position: relative;
    top: -9%;
    left: 5%;
    background-color: aqua;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
justify-content: center;

}
.title1 h4{
    color: #000000;
}

/* .title1{
    position: absolute;
    top: 0;
    color: aqua;
    padding: 260px;
    padding-left: 10px;
} */


.title1 h4{
    font-size: 15px;
    padding: 0;
    content: normal;
    width: 0;
    
}
















